version: '2'
services:
  php:
    restart: always
    image: ccr.ccs.tencentyun.com/game-base/php-7.2.2:product
    ports:
    - "9000:9000"
    - "9501:9501"
    volumes:
    - /d/persistent/log/php-fpm:/ibos/log/php-fpm
    - /d/persistent/log/xdebug:/ibos/log/xdebug
    - /d/WWW:/ibos/www
    - ./php/php.ini:/usr/local/etc/php/php.ini
    - ./php/www.conf:/usr/local/etc/php-fpm.d/www.conf
    container_name: php-fpm
    networks:
      - new
    depends_on:
      - redis
      - memcached
      - mysql
    extra_hosts:
      - "wqdapi.cc:192.168.1.9"
    command: php-fpm
  redis:
    restart: always
    build: redis
    ports:
      - "6379:6379"
    volumes:
      - /d/persistent/redis:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - new 
    container_name: redis
  memcached:
    restart: always
    build: memcached
    ports:
      - "11211:11211"
    networks:
      - new 
    container_name: memcached
  mysql:
    image: mysql:5.6
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - ./mysql/my.cnf:/etc/mysql/my.cnf
      - ./mysql/conf.d:/etc/mysql/conf.d
      - /d/server/MySql/data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
    networks:
      - new 
    container_name: mysql
  web:
    restart: always
    build: nginx
    ports:
      - "80:80"
    volumes:
      - /d/WWW:/ibos/www
      - /d/persistent/log/nginx:/ibos/log/nginx
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
    container_name: nginx
    depends_on:
      - php
    networks:
      - new
networks:
    new: